.notifications h2 {
    margin-bottom: 20px;
}

.notification-list {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
}

.notification-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.notification-item p {
    margin: 0;
}

.notification-item span {
    color: #888;
}
