* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.faq-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    padding: 20px; /* Add padding around the FAQ section */
    box-sizing: border-box; /* Ensure padding doesn’t exceed the viewport width */
}

.accordion-container {
    flex: 1;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px; /* Add side margins for extra space */
}


.image-container {
    max-width: 500px;
    width: 100%;
    text-align: right;
    margin-top: 100px;
}

.image-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.faq-image {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
}

.faq-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.faq-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.faq-image h2 span {
    color: #f7c844;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-header {
    width: 100%;
    text-align: left;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 18px;
    color: #333;
    font-weight: bold; /* Make text bold */
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: #e0e0e0;
}

.accordion-header:after {
    content: '\002B'; 
    font-size: 20px;
    color: #333;
    margin-left: 10px;
}

.accordion-header.active:after {
    content: '\2212'; 
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px;
    font-size: 16px;
    color: #666;
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}

.accordion-header.active + .accordion-content {
    max-height: 500px;
    padding: 15px;
}


@media (max-width: 1024px) {
    .faq-content {
        flex-direction: column; 
        margin: 20px; 
    }

    .accordion-container, .image-container {
        max-width: 100%; 
        margin: 0; 
    }

    .image-container {
        margin-top: 20px; 
    }

    .image-container img {
        display: none;
    }

    .accordion-container {
        margin-bottom: 20px; 
    }

    .faq-image h2 {
        font-size: 30px; 
    }
}

@media (max-width: 768px) {
    .faq-content {
        margin: 10px; 
        padding: 10px; 
    }

    .accordion-container, .image-container {
        margin-bottom: 15px;
    }

    .image-container img {
        display: none;
    }

    .accordion-container {
        padding: 15px;
    }

    .faq-image h2 {
        font-size: 24px; 
    }
}

@media (max-width: 480px) {
    .faq-content {
        margin: 5px;
        padding: 5px;
    }

    .image-container img {
        display: none;
    }

    .accordion-container {
        padding: 10px;
    }

    .faq-image h2 {
        font-size: 20px; 
    }

    .accordion-header {
        font-size: 16px; 
    }

    .accordion-content {
        font-size: 14px; 
    }
}


.brand-we-serve {
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    background-color: #333333;
}

.brand-we-serve-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffd700;
}

.brand-we-serve-line {
    width: 165px;
    height: 2px;
    background: #FFD700;
    margin: 5px auto;
}

.ford-image {
    display: block;
    margin: 10px auto 0;
    width: 300px;
    height: 238px;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .brand-we-serve-header h2 {
        font-size: 20px; 
    }

    .brand-we-serve-line {
        width: 120px; 
    }

    .ford-image {
        width: 250px;
        height: auto;
    }
}

/* Mobile screens */
@media only screen and (max-width: 480px) {
    .brand-we-serve-header h2 {
        font-size: 18px; 
    }

    .brand-we-serve-line {
        width: 100px; 
    }

    .ford-image {
        width: 200px;
        height: auto; 
    }
}

@media only screen and (max-width: 360px) {
    .brand-we-serve-header h2 {
        font-size: 16px; 
    }

    .brand-we-serve-line {
        width: 80px; 
    }

    .ford-image {
        width: 180px; 
        height: auto; 
    }
}